[submodule "src/littlefs"]
	path = src/littlefs
	url = https://github.com/littlefs-project/littlefs.git
[submodule "src/pico-sdk"]
	path = src/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "src/picodvi"]
	path = src/picodvi
	url = https://github.com/Wren6991/PicoDVI.git
